/* GENERAL*/


/* BARRE DE NAVIGATION */
nav
{
    background-color: #FCFFF5;
    padding-top: 2em;
    padding-bottom: 2em;
    
}
hr
{
    background-color: #3E606F
}
nav li
{
    list-style: none;
}
a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
a:hover
{
  color: #91AA9D;
}

#menu 
{
    display: flex;
    justify-content:flex-start;
    font-size: 15px;
    text-transform: uppercase;
}
#menu a
{
    margin-right: 1em;
}
nav select
{
    border-radius: 3px;
    background-color:transparent; 
    font-size: 15px;
    text-transform: uppercase;
}
#inputnav
{
    display: none;
}

/* CONTENT*/
h1
{
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
}

/* FORMULAIRES*/

form
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
}
input
{
    margin: 1em;
    padding: 1em;
    width: 40%;
}